* {
    background-color: #B0D9B1;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #B0D9B1;
    background-repeat: no-repeat;
    background-size: auto;
    display: block;

}

.logo {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #ffffffff;
}

.logo span {
    text-decoration: none;
    color: #618264;
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.nav ul {
    list-style: none;
    cursor: pointer;
    margin-left: 1000px;
    margin-top: 20px;
}

.nav ul li .nav1{
    text-decoration: none;
    color: #FFF;

}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #ffff;
    font-family: 'Releway', sans-serif;
    padding: 15px 15px;
    font-weight: 400;
}

.nav ul li:hover {
 
    border-radius: 20px;
    transition: all .3s ease;
    background-color: #618264;
}

.header {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    line-height: normal;
    letter-spacing: 0.464px;
    text-decoration: none;
    color: #ffffffff;
    transform: translate(-50%, -50%);
}

.header h5 {
    font-family: Quicksand;
    font-size: 50px;
}
    
.header span{
    text-decoration: none;
    color: #618264;
}

.content-header {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    line-height: normal;
    letter-spacing: 0.464px;
    text-decoration: none;
    color: #ffffffff;
    transform: translate(-50%, -50%);
}

.abutton {
    text-align: center;
    border-radius: 50px;
    padding-left: 3%;
    padding-right: 3%;
    border-width :10cap;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #618264;
    color: #FFF;
}
